#header-bg {
    /* background-image: linear-gradient(rgba(84, 82, 82, 0.5), rgba(104, 103, 103, 0.5)), url("../img/head-mic1.jpg"); */
    background-color: #7F5B46;
    background-position: center;
    background-size: cover;
    height: 90vh;
    padding: 2rem 6rem;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
}


#hero-main {
    background-image: url("../img/head-mic1.jpg");
    padding: 10rem;
}

#logo {
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-size: 30pt;
    font-weight: bolder;
}



#nav-links {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}



#ul-list {
    display: flex;
    list-style: none;
    gap: 30px;

}



.nav-item {
    color: white;
    text-decoration: none;
}


.nav-item:hover {
    color: green;
}



.header-text {
    font-size: 30px;
    color: white;
    margin-top: 10rem;
}

/* 
.slideshow-container {
    
}


.mySlides fade {


}

.numbertext {
   
}

.text {
  
}

.dot {
    
} */


 /* .linkage {
    padding-top: 10rem;
}

.image img {
    width: 17rem;
}


.image a {
    color: brown;
    text-decoration: none;
}


/* .testimonials p { */
    /* background-color: bisque;
    padding: 30px;
    padding-right: 0px;
}


.testimonials h4 {
    color: brown;
} */ 


.studiorecord {
 padding-top: 12rem;
 display: flex;
 gap: 0px;
}

.studio{
    text-align: center;
    padding: 50px;
}


.studio img {
width: 30rem;
/* padding: 50px; */
}


.studio a{
    text-decoration: none;
    color: black;
}

.booking {
    text-align: center;
    margin-top: 2px;
}


.booking-btn {
    padding:14px 15rem;
    border-radius: 20px;
    border-style: none;
    color: rgb(26, 3, 3);
    background-color: #AE9C8D;
}


.instruments {
    display: flex;

}


.sale-of-products {
    margin-top: 12rem;
    margin-bottom: 12rem;
    border-style:groove;
    padding: 15px;
}


.sales {
padding: 20px;
}


.sales img {
width: 15rem;
}


.new-arrivals {
    margin-top: 12rem;
    margin-bottom: 12rem;
    border-style:groove;
    padding: 15px;
}



.choicest-picks{
    margin-top: 12rem;
    margin-bottom: 12rem;
    border-style:groove;
    padding: 15px;
}


.slide img{
    width: 15rem;
}


