#header-bg {
    /* background-image: linear-gradient(rgba(84, 82, 82, 0.5), rgba(104, 103, 103, 0.5)), url("../img/head-mic1.jpg"); */
    background-color: #7F5B46;
    background-position: center;
    background-size: cover;
    height: 90vh;
    padding: 2rem 6rem;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
}


#hero-main {
    background-image: url("../img/head-mic1.jpg");
    padding: 10rem;
    margin-top: 2rem;
}

#logo {
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-size: 30pt;
    font-weight: bolder;
}



#nav-links {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}



#ul-list {
    display: flex;
    list-style: none;
    gap: 30px;

}



.nav-item {
    color: white;
    text-decoration: none;
}


.nav-item:hover {
    color: green;
}



.header-text {
    font-size: 30px;
    color: white;
    margin-top: 10rem;
}


.btn {
    background-color: transparent;
    padding: 2px 20px;
    border-radius: 2rem;
    border: 2px solid white;
    border-inline-color: #AB663B;

}


.btn a {
    text-decoration: none;
    color: white;
}

/* STUDIO RECORDING SECTION */

.studiorecord {
    padding-top: 12rem;
    display: flex;
    gap: 0px;
}

.studio {
    text-align: center;
    padding: 50px;
}


.studio img {
    width: 30rem;
    /* padding: 50px; */
}


.studio a {
    text-decoration: none;
    color: black;
}

.booking {
    text-align: center;
    margin-top: 2px;
}


.booking-btn {
    padding: 14px 15rem;
    border-radius: 20px;
    border-style: none;
    color: rgb(26, 3, 3);
    background-color: #AE9C8D;
}



/* INSTRUMENT SALES */

/* .instruments {
    display: flex;
    background-color: #AB663B;
    margin-top: 10rem;

}


.instruments {
    display: flex;
    flex-direction: column;
}

.instruments-section {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-left: 70px;
    margin-right: 70px;
}


.image {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}


.image img {
    border: #AE9C8D 2px solid;
    width: 150px;
} */


.flexed-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    /* margin: 0 auto; */
}


.sale-on-products {
    border: 2px solid tomato;
    /* width: 100px;
    height: 200px; */
    background: rgb(221, 224, 226);
    margin: 80px;
    padding: 35px;
}

.brand-logo {
    padding-bottom: 30px;
    display: flex;
}


.brand-logo img{
    width: 10rem;
    padding: 20px;
    
}

